#Backend gitignore file

Backend/bin
Backend/obj
Backend/Properties/
Backend/Migrations/
Backend/Uploads
Backend/Backend.csproj
Backend/appsettings.json
Backend/appsettings.Development.json
Backend.Sln

#Frontend gitignore file
Frontend/public/
Frontend/node_modules
Frontend/package-lock.json
Frontend/package.json


.vscode