#Backend gitignore file

Backend/bin
Backend/obj
Backend/Properties/
Backend/Migrations/
Backend/Uploads
Backend/Backend.csproj
Backend/appsettings.json
Backend/appsettings.Development.json
Backend.Sln

#Frontend gitignore file
authorities/node_modules
authorities/package-lock.json
authorities/package.json
authorities/.next

members/node_modules
members/package-lock.json
members/package.json

.vscode